-# %h1= class_name + "#" + @action

-# %p
-#   = @greeting + ", find me in app/views/art_new_mailer_mailer/art_new_mailer.html.haml"


-# -# <%# %div
-# -#   = @user.name %>
-# <div>
-# <%= @user.name%>
-# </div>
