
.art-index-main__contents  
  - @myfiles.each do |myfile|
    .title-block
      = link_to "myfiles/#{myfile.id}", class:"art-show-link" do
        = myfile.title.truncate(43, omission: '...')
      .title-block__venue
        = myfile.address