.header
  = link_to("#", class:"logo-link") do
    .header-logo
      = image_tag "https://1.bp.blogspot.com/-7d0Ty0HTICI/V4SA6emmiwI/AAAAAAAA8N4/JNfzdM6_MdcXmQm3TOv8paAJLjLPP-NoQCLcB/s400/character_gorilla_hardboiled.png", class:"header-logo__img"
      .sight-name
        ジャングル
  .header__right
    .header__right__search

    .header__right__btn
      = link_to("#",class:"sign-up") do
        新規会員登録
      = link_to("#",class:"sign-in") do
        ログイン
-#       %p#notice= notice
-# %h1　~エンジニアの勉強会共有サイト~