.site-description
  .site-description__sentence
    jungleは勉強会情報共有サイトです
  =image_tag "https://3.bp.blogspot.com/-khnMebCHAnI/Wtxrzz0tF9I/AAAAAAABLqU/wrI61xk0ExErsMv2FsQsvqCDgOxjGJc3QCLcBGAs/s800/benkyoukai_kunrenkou_international_suit.png", class:"site-description__image"