.art-new-wrapper
  %h1 新規記事作成
  = render 'form', myfile: @myfile
  -# = link_to(myfiles_path, class:"art-form-return-link") do
  -#   #art-form-return-link
  -#     .art-form-return
  -#       戻る
    
