.header {
  padding: 10px 100px;
  height: 120px;
  display: flex;
  background-color: #3CB371;
  // border-bottom: 1px solid gray;
  box-shadow: rgba(0,0,0,0.18)0px 2px 0px;
  .logo-link {
    text-decoration: none;
    .header-logo {
      display: flex;
      position: relative;
      &__img {
        height: 100px;
        width: inherit;
      }
      .sight-name {
        // background-color: #eeeeee;
        text-shadow: 2px 2px white;
        position: absolute;
        top: 50%;
        font-size: 35px;
        color:green;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    }
  }
  &__right {
    position: relative;
    margin-left: 30px;
    &__search {
      // background-color: #eeeeee;
      height: 50px;
      width: 600px;
      border-radius: 5px;
      border: 1px solid gray;
      background-color: white;
      &__wrapper {
        display: flex;
        #keyword {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        font-size: 25px;
        }
        // .search-btn-label{

        // }
          .search-btn-zone {
            .search-btn-label{
            .fa-search {
              font-size: 35px;
              background-color: white;
              
            }
            .search-submit {
                  display: none;  
                  // background-color: #123456;
                  height: 100%;
                  width: 100%;
                }
              }
          }
        
      }
      
    }
    &__btn {
      display: flex;
      position: absolute;
      right: 0;
      margin-top: 10px;
      .art-new-link {
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        height: 45px;
        width: 100px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #123456;
        color: white;
        display: block;
        position: relative;
      }
      .sign-out {
        text-align: center;
        text-decoration: none;
        border: 2px solid #123456;
        height: 45px;
        width: 100px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 10px;
        display: block;
        position: relative;
      }
      #sign-up {
        text-align: center;
        text-decoration: none;
        border: 2px solid #123456;
        height: 45px;
        width: 100px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 10px;
        display: block;
        position: relative;
        .sign-up {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform : translate(-50%,-50%);
          transform : translate(-50%,-50%);
          
        }
      }
      #sign-in {
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        height: 45px;
        width: 100px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #123456;
        color: white;
        display: block;
        position: relative;
        .sign-in {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform : translate(-50%,-50%);
          transform : translate(-50%,-50%);
        }
        
      }
    }
  }
}