.art-index-wrapper {
  padding: 0 100px;
  .art-index-main {
    // padding: 50px 100px;
    &__new{
      font-size: 35px;

    }
    &__contents {
      .title-block {
          margin: 15px 0 15px 0;
          .art-show-link {
          font-size: 25px;
          text-decoration: none;
        
          }
      }
      .title-block:hover {
        background-color: #eeeeee;
      }
    }
  }
}