// Place all the styles related to the Myfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art-form-main {
  width: 500px;
  padding: 40px 0;
  #myfile_art_tags_id {
    height: 40px;
    font-size: 20px;
  }
  .art-title{
    height: 40px;
    width: 500px;
    font-size: 20px;
    box-sizing: border-box;

  }
  .art-description{
    height: 300px;
    width: 500px;
    font-size: 20px;
    box-sizing: border-box;
  }
  // .art-label{
  //   font-size: 40px;
  // }
  .art-new-p {
    font-size: 20px;
    font-weight: bold;
  }
  .art-file {
    // background-color: #123456;
    height: 50px;
    width: 500px;
    border: 1px solid black;
  }
  
  #myfile_file {
    // display: none;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    font-size: 100%;

  }
  .art-address {
    height: 40px;
    width: 100%;
    font-size: 20px;
  }
  .art-submit-container {
    text-align: center;
    #art-submit {
      height: 50px;
      width: 200px;
      // line-height: 100px;
      // padding: 10px 0;
      margin: 20px 0;
      background-color: #123456;
      color: white;
      font-size: 15px;

    }
  }
  .art-form-return-link {
    text-align: center;
    padding: auto;
    text-decoration: none;
    #art-form-return-link {
      background-color: #eeeeee;
      height: 50px;
      width: 200px;
      margin: 0 auto;
      .art-form-return {
        padding: 17px;
        margin: 0 auto;

      }
    }
  }
}
.art-show-link {
  font-size: large;
}