// Place all the styles related to the Myfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.art-title{
  height: 40px;
  width: 400px;
  font-size: 20px;

}
.art-description{
  height: 300px;
  width: 400px;
  font-size: 20px;
}
// .art-label{
//   font-size: 40px;
// }
.art-new-p {
  font-size: 20px;
  font-weight: bold;
}
.art-file {
  // background-color: #123456;
  height: 50px;
  width: 400px;
  border: 1px solid black;
}
.art-document {
  display: none;

}

#art-submit {
  height: 50px;
  width: 200px;
  line-height: 100px;
  padding: 10px 0;
  margin: 20px 0;
  // border-style: none;
}

.art-show-link {
  font-size: large;
}