.art-new-wrapper {
  padding: 50px  100px;
  h1 {
    font-size: 35px;
  }
  .art-form-return-link {
    text-decoration: none;
    position: relative;
    .art-form-return {
      position: absolute;
      text-decoration: none;
      height: 50px;
      width: 100px;
      background-color: #eeeeee;
      text-align: center;
      
    }
  }
}