.art-show-main {
  padding: 20px 100px;
  &__title {
    font-size: 40px;
    padding: 10px 0 20px 0;
  }
  &__comment {
    font-size: 30px;
    
  }
  &__document {
    font-size: 25px;
  }
  &__address {
    font-size: 25px;
  }
  .item {
      padding: 10px 0;
    }
  // .none {
    
  // }
  #gmap {
    height: 300px;
    width: 400px;
    padding: 10px 0;
    
  }
  .art-edit-btn {
    font-size: large;
  }
}